/* All navlinks */

.link,
.link:visited,
.category-link,
.category-link:visited {
    font-weight: 600;
    color: var(--black);
    line-height: 100%;
    text-wrap: nowrap;
    text-decoration: none;
    border: none;
    background-color: transparent;
    position: relative; /* Veroorzaakt dit geen problemen? */

    @media screen and (max-width: 600px) {
        font-size: 1.125rem;
    }
}

.link:hover,
.category-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Main navlinks */

.link,
.link:visited {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    @media screen and (max-width: 600px) {
        height: 30px;
    }
}

/* Category navlinks */

.category-link,
.category-link:visited {
    font-size: 1.3rem;

    @media screen and (max-width: 600px) {
        font-style: italic;
        line-height: 30px;
    }
}

/* Link icons */

li > a > svg {
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 50%;
    background-color: var(--white);

    @media screen and (max-width: 600px) {
        width: 30px;
        height: 30px;
    }
}