.hamburger-menu {
    width: 30px;
    height: 30px;

    position: absolute;
    left: 9.3%;
    
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    
    border: none;
    background-color: var(--green);

    @media screen and (max-width: 600px) {
        display: flex;
    }
}

.bar {
    height: 3px;
    width: 100%;
    
    background-color: var(--black);
}