.category-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 20px;
    }
}

.category-page-products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}