.shopping-cart-container {
    width: 100%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        justify-content: unset;
        align-items: center;
    }
}

.item-container {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.summary-container {
    width: 50%;
    max-width: 600px;
    height: 100%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid var(--black);

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.summary-container header {
    margin-bottom: unset;
}

.summary-container h3 {
    font-size: 2rem;
    text-align: left;
}

.products-and-shipping {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products,
.shipping,
.total {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.products p:first-child,
.shipping p:first-child,
.total p:first-child {
    width: 80%;
}

.total {
    font-weight: 800;
}