.profile-title {
    margin-bottom: 10px;
}

.profile-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-container h3,
.profile-container h4 {
    text-align: left;
    color: var(--orange);
}

.profile-item-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.profile-item-container p {
    width: 70%;
}