.breadcrumbs {
    padding: 50px 9.3% 0 9.3%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.crumb {
    display: flex;
    gap: 10px;
    color: var(--green);
}

.crumb:after {
    content: '>';
    color: var(--green);
}

.crumb:first-of-type:after,
.crumb:last-of-type:after {
    content: unset;
}

.crumb a,
.crumb a:visited {
    color: var(--green);
    text-decoration: none;
}

.home-icon {
    width: 20px;
    height: 20px;
}