.product-card-navlink {
    width: 100%;
    max-width: 353px;
    text-decoration: none;
    color: var(--black);
}

.product-card-navlink:hover {
    cursor: pointer;
}

/* Product card */

.product-card {
    height: 425px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light-grey);
}

/* Product card image container */

.product-card-image-container {
    height: 60%;
}

.product-card-rating-star {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -12px;
    right: -10px;
    color: var(--blue);
}

.product-card-product-rating {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 26px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.product-card-product-image {
    height: 100%;
    object-fit: contain;
}

/* Product card text container */

.product-card-text-container {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.product-card-product-name {
    font-size: 1.2rem;
}

.product-card-price {
    font-size: 1.5rem;
    font-weight: 600;
}