.product-card-navlink {
    text-decoration: none;
    color: var(--black);
}

.product-card-navlink:hover {
    cursor: pointer;
}

/* Product card */

.product-card {
    width: 350px;
    height: 425px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light-grey);

    @media screen and (max-width: 350px) {
        width: 100%;
    }
}

.product-card.shopping-cart {
    width: unset;
    height: 300px;
    flex-direction: row;
    gap: 10px;
}

/* Product card image container */

.product-card-image-container {
    height: 60%;
    width: 100%;
}

.shopping-cart .product-card-image-container {
   width: 40%;   
}

.product-card-rating-star {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -12px;
    right: -10px;
    color: var(--blue);
}

.product-card-product-rating {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 26px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.product-card-product-image {
    height: 100%;
    object-fit: contain;
}

/* Product card text container */

.product-card-text-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.shopping-cart .product-card-text-container {
    width: 60%;
}

.product-card-product-name {
    font-size: 1.2rem;
}

.product-card-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.amount-and-trash-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.amount-and-trash-container button {
    border: none;
}

.trash {
    width: 25px;
    height: 25px;
}