.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.shipping-address-container,
.order-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-grey);
}

.shipping-address,
.order {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name,
.address,
.ordered-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.name p:first-of-type,
.address p:first-of-type {
    width: 30%;
}

.name p:last-of-type,
.address p:last-of-type {
    width: 70%;
}

.ordered-item p:first-of-type {
    width: 70%;
}

.ordered-item p:last-of-type {
    width: 20%;
    text-align: right;
}

.shipping,
.total {
    display: flex;
    justify-content: space-between;
}