.titlebar {
    padding: 10px 6.5%;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    column-gap: 30px; 
    row-gap: 10px;
    flex-wrap: wrap;

    @media screen and (max-width: 474px) {
        justify-content: center;
    }
}

/* Logo */

.logo-wrapper {
    width: 80px;
    height: 80px;
}

.logo-wrapper img {
    border-radius: 50%;
}

/* Shop name and tagline */

hgroup {
    white-space: wrap;
    
    @media screen and (max-width: 474px) {
        text-align: center;
    }
}

hgroup p {
    font-family: 'Luckiest Guy', sans-serif;
    color: var(--white);
}