/* Search field */

.search-bar {
    margin: 50px auto 50px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar form {
    width: 100%;
    max-width: 400px;
    margin: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 10px 50px 10px 20px;
    border: 1px solid var(--black);
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
}

.search-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
}

/* Search results */

.search-results {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    position: absolute;
    top: 50px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    border: 1px solid var(--light-grey);
    background-color: white;
}

.search-results a {
    display: block;
    color: var(--orange);
    text-decoration: none;
}

.search-results a:hover {
    color: var(--black);
    background-color: var(--light-grey);
}

.search-results a:visited {
    color: var(--orange);
}

.search-results a:visited:hover {
    color: var(--black);
}